body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App, .calculator-container, .display-container, .button-container, .display, .buttons, .button {
  border: 1px solid black;
}

.calculator-container {
  margin: 20px;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-container {
  height: 150px;
  width: 450px;
  margin-bottom: 5px;
}

.display {
  margin: 10px;
  height: 130px;
  width: 430px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
  height: 500px;
  width:450px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  height: 480px;
  width:430px;
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 100px;
  text-align: center;
  height: 80px;
  width: 80px;
}
